<div class="row-fluid">
  <div class="span8">
    <div id="blog_entry_container">
      <div id="blog_entry_entry">

        <%= render :partial => 'spree/blog_entries/blog_entry_details', :locals => {:blog_entry => @blog_entry} %>
        <h1><%= @blog_entry.title %></h1>

        <div class="blog_entry_body">
          <p>
            <%= @blog_entry.body %>
          </p>
          <% @blog_entry.blog_entry_pinterest_images.each do |image| %>
            <div class="pinterest-image">
              <%= image_tag image.pinterest_image.image.url %>
              <% if image.caption.present? %>
                <div class="image-caption">
                  <%= image.caption %>
                </div>
              <% end %>
              <% if image.description.present? %>
                <hr>
                <p><%= image.description %></p>
                <hr>
              <% end %>
            </div>
          <% end %>
        </div>


      </div>

      <%= render :partial => 'spree/blog_entries/comments', :locals => {:blog_entry => @blog_entry}  %>
    </div>
  </div>
  <div class="span3">
    <%= render :partial => 'spree/blog_entries/sidebar_show' %>
  </div>
</div>